/* 바디에 전역으로 css 설정 가능 */
body * {
  display: flex;
  flex-direction: column;
  /* box-sizing -> 테두리? 기준으로 사이즈 정하기 */
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
}
/* 
커맨드 시프트 C로 적용 확인 가능
백그라운드 컬러로 콘솔로그 처럼 활용하자
*/
.ToDoList {
  width: 512px;
  height: 240px;
  margin: 64px auto;
  /* background-color: lightblue; */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25), 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.ToDoTitle {
  justify-content: center;
  align-items: center;
  height: 110px;
  background-color: #51d3e7;
}

.Title {
  font-size: 40px;
  color: white;
  text-align: center;
}

.ToDoInput {
  width: 512px;
  height: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4fc0d1;
}

.InputBox {
  width: 400px;
  height: 36px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c5f6fa;
  outline: none;
}

.InputBtn {
  width: 60px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #24c3dc;
}

.ToDoBox {
  margin: 4px 20px 4px 20px;
  width: 472px;
  height: 57px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #f1f3f5; */
}

.ToDoBox:hover {
  background-color: #e3fafc;
}

.ToDoBox:hover .ToDoDelete {
  color: #ff6161;
}

.ToDoDelete {
  font-size: 14px;
  width: 9px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: transparent;
}

.ToDoContent {
  width: 390px;
  height: 18px;
}

.UpdateBtn {
  width: 40px;
  height: 24px;
  border-radius: 4px;
  font-size: 13px;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #24c3dc;
}

button:hover {
  background-color: #2ae3ff;
}
button:active {
  background-color: #1d99ac;
}
